@tailwind base;
@tailwind components;
@tailwind utilities;


/* viseble slide */

.is-in-view {
    opacity: .5;
}

.is-snapped {
    opacity: 1;
}

/* arrow */

.arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    cursor: pointer;
}
.arrow.right {
    transform: translate(-50%, -50%) rotate(270deg);
}
.arrow.left {
    transform: translate(-50%, -50%) rotate(90deg);
}
.arrow span {
    display: block;
    width: 16px;
    height: 16px;
    border-bottom: 5px solid rgb(105, 100, 100);
    border-right: 5px solid rgb(105, 100, 100);
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}
.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}
@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}